*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.container{
	width:90%;
	margin:0 auto;
}

.row{
	display:flex;
	flex-wrap:wrap;
	
}
.border_container{
	padding:20px;
	
}
.heading_sec{
	text-align:center;
	
	padding-bottom:50px;
}

.content_sec{
	padding:20px;
	display:flex;
	align-items:center;
	justify-content:center;
}

.content_container{
	display:flex;
	align-items:center;
	justify-content:center;
	
}

.icon_sec{
	color:gray;
	font-size:50px;
}

.content{
	padding:20px;
}

h5{
	padding-bottom:10px;
	font-size:15px;
}

.content_sec{
	position:relative;
	border-top:1px solid;
	width:80%;
	border-color:darkgray;
}

span{
	border-radius:50%;
	padding:15px;
	width:15px;
	height:10px;
	display:inline-block;
	background-color:#faebd7;
    position: absolute;
    left: 52px;
    bottom: 40px;
	z-index:-1;
}

h2::before{
	content:"";
	width:17%;
	height:2px;
	background-color:red;
	display:inline-block;
	position:absolute;
	top:13px;
	left:550px;
	z-index:-1;
}
h2{
	padding:10px;
	background-color:#fff;
	display:inline;
}

.heading_sec{
	position:relative;
}

.border_sec{
	position:relative;
	
}

.content_sec::before{
	position:absolute;
	width:20px;
	height:2px;
	content:"";
	border-top:3px solid red;
	left:-25px;
	top:-1px;
}

.border_sec1, .border_sec2{
	width:50%;
}